<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <style>
        * {
            box-sizing: border-box;
        }

        html {
            /* max-width: 800px; */
            background-color: white;
            float: center;
            min-width: 300px;
        }

        .body {
            /* max-width: 800px; */
            background-color: #201547;
            color: white;
            font-family: 'Roboto', 'Arial', sans-serif;
            font-size: 12;
            text-align: center;
            margin: 0;
            /* padding: 0%; */
            /* display: block; */
        }

        a.button {
            background-color: #201547;
            text-decoration: none;
            margin: 10px 0 -5px 0;
            display: flex;
            width: fit-content;
            color: #fff;
            padding: 15px;
            border-radius: 10px;
        }

        #logo {
            margin: 15px 0 0 0;
            width: 250px;
        }

        .text {
            background-color: white;
            color: black;
            font-size: 14px;
            text-align: left;
            margin: 0px;
            display: block;
            padding: 10%;
            padding-bottom: 5%;
        }

        .footer {
            font-size: 12px;
            padding: 2%;
        }

        .links {
            padding: 2%;
        }

        .link {
            /* padding-left: 20px; */
            /* width: 3%; */
            width: 24px;
        }

        button {
            background-color: rgb(227, 28, 121);
            border: none;
            width: 175px;
            height: 65px;
            border-radius: 10px;
            color: white;
        }

        @media screen and (min-width: 800px) {
            html {
                max-width: 800px;
            }
        }

        @media screen and (max-width: 500px) {
            button {
                width: 135px;
                height: 45px;
            }

            #logo {
                width: 70%;
                margin-bottom: 10px;
            }
        }
    </style>
</head>

<body class="body">
    <a href="https://kognita.ai">
        <img id="logo" src="https://kognita-gsik.s3.us-east-2.amazonaws.com/email-template-assets/kognita_logo2.png">
    </a>
    <div class="text">
        <div>
            <b>Olá, {{ name }}!</b>
            <br /><br />
            Sua senha foi alterada com sucesso!
            <br /><br />
            <a class="button" href="{{ url }}"> <strong> Acessar sua conta </strong></a>
            <br /><br />
            Se você não modificou a sua senha, por favor entre em contato com nossa equipe!
            <br /><br /><br /><br /><br /><br /><br />
            Abraços,
            <br />
            <b><strong> Equipe Kognita</strong></b>
        </div>
    </div>
    <div class="footer">
        <b>© 2020. Todos os direitos reservados. Kognita</b>
        <div class="links">
            <a href="https://www.instagram.com/kognitalab/"> <img class="link"
                    src="https://kognita-gsik.s3.us-east-2.amazonaws.com/email-template-assets/instagram.fw.png"> </a>
            <span style="color: #201547">.....</span>
            <a href="https://www.linkedin.com/company/kognita-lab/"> <img class="link"
                    src="https://kognita-gsik.s3.us-east-2.amazonaws.com/email-template-assets/linkedin+icon.fw.png">
            </a>
            <span style="color: #201547">.....</span>
            <a href="https://twitter.com/KognitaLab"> <img class="link"
                    src="https://kognita-gsik.s3.us-east-2.amazonaws.com/email-template-assets/twitter+icon.png"> </a>
        </div>
        Av. Brig. Faria Lima, 1768 - Jardim Paulistano,
        <br />
        São Paulo - SP, Cep: 01451-001
    </div>
</body>